<div class="container">
  <div class="test">
    <br /><br />
    <div class="login-form">
        <form #registerForm="ngForm">
          <div class="avatar"></div>

          <div class="form-group">
            <label for="dni">DNI</label>
            <input [(ngModel)]="formData.dni"
                  #dni="ngModel"
                   name="dni"
                   type="text"
                   class="form-control"
                   id="dni"
                   required>
             <div *ngIf="dni.invalid && (dni.dirty || dni.touched)"
                 class="alert alert-danger">

              <div *ngIf="dni.errors.required">
                Escribe un DNI.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="formData.nombre"
                  #nombre="ngModel"
                   name="nombre"
                   type="text"
                   class="form-control"
                   id="nombre"
                   required>
             <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                 class="alert alert-danger">

              <div *ngIf="nombre.errors.required">
                Escribe un nombre.
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="telefono">telefono</label>
            <input [(ngModel)]="formData.telefono"
                  #telefono="ngModel"
                   name="telefono"
                   type="text"
                   class="form-control"
                   id="telefono"
                   required>
             <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                 class="alert alert-danger">

              <div *ngIf="telefono.errors.required">
                Escribe un telefono.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input [(ngModel)]="formData.correo"
                   name="correo"
                   type="email"
                   class="form-control"
                   id="correo"
                   required>
          </div>

          <div class="form-group">
            <label for="pass">{{"password" | translate}}</label>
            <input [(ngModel)]="formData.pass"
                   name="pass"
                   type="password"
                   class="form-control"
                   id="pass"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirma {{"password" | translate}}</label>
            <input [(ngModel)]="formData.passwordConfirmation"
                   name="passwordConfirmation"
                   type="password"
                   class="form-control"
                   id="passwordConfirmation"
                   required>
          </div>
          <div class="form-group">
            <button [disabled]="!registerForm.form.valid" (click)="register()" type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
          </div>
        </form>
        <div *ngIf="errors.length>0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error}}
          </p>
        </div>
      </div>
    </div>

  </div>
