<mat-card class="main-dashboard-card">
  <mat-card-title-group>
    <mat-card-title> {{ "Pages.Dashboard.Headline" | translate }}</mat-card-title>
    <mat-card-subtitle>TFM 2022</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="10" fxFlex.gt-sm="10">
        <h1 class="section-title">

        </h1>
      </div>
      <div fxFlex="110" fxFlex.gt-sm="110">
        <p>{{ "Pages.Dashboard.welcomeText1" | translate }}</p>
      </div>
    </div>
  </mat-card-content>

</mat-card>
<mat-card style="margin-top: 10px" class="main-dashboard-card">
  <mat-card-title-group>
    <mat-card-title> Universidad de Alicante</mat-card-title>
    <mat-card-subtitle>
      <p>{{ "Pages.Dashboard.aboutinfotutor" | translate }}: Santiago Meliá Beigbeder</p>
      <p>{{ "Pages.Dashboard.aboutinfoauthor" | translate }}: Oscar Trujillo Morales</p>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <img
      class="avatar mat-elevation-z8"
      src= "/assets/img/ua.jpg" alt="UAImage"
    />

  </mat-card-content>

</mat-card>

